<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        
        <!-- para deploy -->
        	<property name="connection.url">jdbc:postgresql://ec2-54-235-170-124.compute-1.amazonaws.com:5432/d6kv1mhrv4163q?sslmode=require</property>
	        <property name="connection.username">yrgojvfrinmxfa</property>
	        <property name="connection.password">zbI75fPDqXsGjOGsVuF8hKMejK</property>
        <!-- para deploy -->
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>
        
        <!-- SQL dialect -->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>
        
<!--         <property name="hbm2ddl.auto">create-drop</property> -->
		<property name="hibernate.hbm2ddl.auto">update</property> 
		<property name="hibernate.default_schema">public</property>
 
        <mapping class="com.appdeveloper.appgasagua.paulohenrique.appgasagua.model.Pedido"/>
        <mapping class="com.appdeveloper.appgasagua.paulohenrique.appgasagua.model.AvaliacaoPedido"/>
        <mapping class="com.appdeveloper.appgasagua.paulohenrique.appgasagua.model.Produto"/>
        <mapping class="com.appdeveloper.appgasagua.paulohenrique.appgasagua.model.EnderecoPedido"/>
        <mapping class="com.appdeveloper.appgasagua.paulohenrique.appgasagua.model.LoginSistema"/>
    
    </session-factory>
</hibernate-configuration>